th p{
   float: right;
   margin: 0;
   width: 0;
}

thead th {
    user-select: none;
}

tr {
    cursor: pointer;
}

tbody tr:hover {
    background: rgb(187, 187, 187);
    transition: background .500ms linear;
    cursor: pointer;
}

.nores {
    margin-top: 100px;
    text-align: center;
    font-size: 30px;
}